<!DOCTYPE html>
<html>
	<head>
		<!--<link rel="stylesheet" type="text/css" href="styleTest.css">-->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script src="javascript/jquery-1.9.1.js"></script>
		<script src="javascript/player.js"></script>
		<script src="javascript/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

		<!-- Custom Fonts -->
	    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <link href="font-awesome/css/font.css" rel="stylesheet" type="text/css">
	    <link href="font-awesome/css/font-2.css" rel="stylesheet" type="text/css">
	</head>

	<body id="page-top" class="index">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="row">
				<div class="col-xs-4">
			 		<input name="volume_up" type="image" src="images/volume_up.png">
			 	</div>
			 	<div class="col-xs-4">
			 		<input name="" type="image" src="images/backward.png">
			 		<input name="play" type="image" src="images/play.png">
			 		<input name="" type="image" src="images/pause.png">
			    	<input name="stop" type="image" src="images/stop.png">
			    	<input name="" type="image" src="images/forward.png">
			    </div>
			    <div class="col-xs-4">
			 		<input name="volume_down" type="image" src="images/volume_down.png">
			 	</div>
	    	</div>
		</nav>
		<br>
		<br>
		<br>
		<div class="col-sm-12">
			<ul id="songlist" class="list-group">
			  <% Directory.files(settings.source_folder).each do |file| %>
			       <li class="list-group-item"><%= file  %></li>
			  <% end %>
			</ul>
		</div>
	</body>
</html>
