<!DOCTYPE html>
<html>
	<head>
	<!--<link rel="stylesheet" type="text/css" href="styleTest.css">-->
	<script src="javascript/jquery-1.9.1.js"></script>
	<script src="javascript/player.js"></script>
	<script src="javascript/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	</head>
	<body id="page-top" class="index">
	<nav class="navbar navbar-inverse navbar-top"></nav>
 		<input name="volume_down" type="image" src="images/prev.png">
 		<input name="volume_up" type="image" src="images/next.png">
 		<input name="play" type="image" src="images/play.png">
    <input name="stop" type="image" src="images/stop.png">

    <ul id="songlist">
      <% Directory.files(settings.source_folder).each do |file| %>
           <li><%= file  %></li>
      <% end %>
    </ul>
	</body>
</html>
